*{
    margin: 0;
    padding: 0;

}


.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
 
}
.barramenu{
    width: 100%;
    
    position: fixed;

}

.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}

.logo{
    width: 270px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: 1.3rem;
}

.navbar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(107, 10, 10);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.navbar ul li:hover::before{
    width: 100%;
}

.raya{
    height: 3px;
    width: 100%;
    background: rgb(107, 10, 10);
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.tablaencabezado{
    background: rgb(83, 23, 35);
    color: white;
}

.textField{
    height: 40px;
    width: 400px;
    border: 1px solid rgb(117, 116, 116);
    padding: 0 32px 0 16px;
}

.textField:hover{
    cursor: pointer;
}

.btnBuscar{
    height: 40px;
    width: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(168, 166, 166);
}

.barraBusqueda{
    float: right;
    
    padding: 0 0 20px 0;

}

.btn{
    background: rgb(0, 0, 0);
    color: white;
}

.izquierda{
    height:100vh;
    width: 61%;
    padding-right: 10px;
    
    
    
   
}

.medio{
    height:100vh;
    width: 0.1%;
    background: rgb(204, 204, 204);
    
    
    

}

.derecha{
    padding-left: 10px;
    height:100vh;
    width: 38.5%;
   
    
}

.pantalla-dividida{
    display: flex;
    
}